body {
  background-color: rgb(167, 167, 167);
}

.App {
  border: 1px solid white;
  margin: 100px 30%;
  padding: 50px;
  border-radius: 25px;
  text-align: center;

}

.App h2 {
  color: white;
  /* text-align: center; */

}

.App ul {
  list-style: "☐  ";
  cursor: pointer;
  font-size: 22px;
  margin: 20px;

}

.App input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;

}

.App button {
  display: block;
  margin: auto;
  width: 150px;
  height: 30px;
  background-color: beige;
  color: black;
  border-radius: 5px;
}

.App ul li {
  overflow-wrap: break-word;
  line-height: 50px;
  /* text-align: left; */

}

.diffstyle {
  list-style: "✅ ";
  text-decoration: line-through;

}

.listDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

span {
  color: red;
  
}